streamlit
python-dotenv
requests
PyMuPDF
python-docx
pytesseract
Pillow
jinja2
beautifulsoup4
selenium
webdriver-manager
fpdf2
schedule
google-cloud-talent
google-auth
googlesearch-python
lxml
fake-useragent
scrapy
aiohttp
asyncio