streamlit
python-dotenv
requests
PyMuPDF
python-docx
pytesseract
Pillow
jinja2
beautifulsoup4
selenium
webdriver-manager
fpdf2
schedule
linkedin-api
python-linkedin
linkedin-jobs-scraper
